data/

# cache
.cache/
**/*.pth


#python cache
__pycache__/

# caches 
.ipynb_checkpoints/
# pycache
*.swp
__pycache__*
*.pyc

# media
*.mp4
*.png
*.jpg


# wandb
wandb/
work_dir*/

outputs/
*tmp*/

*.JPEG
*.png
*.npy
demo_videos/